/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  all: unset;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center center;
}

img,
picture {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-very-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-grayish-blue-shadow: hsla(229, 6%, 66%, 0.277);
  --color-very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-very-light-gray);
}

main {
  padding: 4rem 2rem 4rem 2rem;
  width: 25rem;

  display: grid;
  gap: 3rem;
}

.introduction {
  text-align: center;
}

.introduction h1,
h2 {
  font-size: 1.5rem;
}

.introduction h1 {
  font-weight: 200;
}
.introduction h2 {
  font-weight: 600;
  color: var(--color-very-dark-blue);
  padding-bottom: 0.8rem;
}

.introduction p {
  color: var(--color-grayish-blue);
  font-size: 0.9rem;
}

.cards {
  display: grid;
  gap: 2rem;
}

.cards .card {
  padding: 2rem;
  background-color: white;

  border-radius: 0.5rem;

  box-shadow: var(--color-grayish-blue-shadow) 10px 10px 30px 2px;
}

.cards h1 {
  font-weight: 600;
  font-size: 1.2rem;
}

.cards p {
  font-size: 0.9rem;
  color: var(--color-grayish-blue);
}

.cards .card .img {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 2rem;
}

.supervisor {
  border-top: 4px solid var(--color-cyan);
}

.builder {
  border-top: 4px solid var(--color-red);
}

.karma {
  border-top: 4px solid var(--color-orange);
}

.calculator {
  border-top: 4px solid var(--color-blue);
}

@media screen and (min-width: 1090px) {
  main {
    width: 100%;
  }

  .introduction {
    display: grid;
    justify-content: center;
  }
  .introduction p {
    width: 35rem;
  }

  .introduction h1,
  h2 {
    font-size: 2rem;
  }

  .card {
    width: 25rem;
  }

  .supervisor {
    grid-area: supervisor;
  }

  .builder {
    grid-area: builder;
  }

  .karma {
    grid-area: karma;
  }

  .calculator {
    grid-area: calculator;
  }

  .cards {
    display: grid;
    justify-content: center;
    grid-template-areas:
      "supervisor builder calculator"
      "... karma ...";
  }

  .supervisor {
    position: relative;
    bottom: -10rem;
  }

  .calculator {
    position: relative;
    bottom: -10rem;
  }
}
